
    button {
                background-image: url('https://s-media-cache-ak0.pinimg.com/564x/e9/90/4c/e9904cdb30314092a60f1ec18711bbbf.jpg');
                border: solid 2px black;
                background-size: 20px;
                color: white;
                font-weight: bold;
                cursor: default;
            }
            button:hover {
                box-shadow: 0 50px 20px rgba(170, 170, 255, 0.6) inset;
                border-color: white;
            }
            button:focus {
                box-shadow: 0 50px 20px rgba(255, 255, 0, 0.6) inset;
                outline: none;
            }
            
            #fluid-box {
                position: absolute;
                top: 48%;
                left: 27%;
            }
            body {
                background-image: url('http://2.bp.blogspot.com/-pPCewyk8Y-A/TZFaLOyXlLI/AAAAAAAAAXk/51Twtop9FgI/s1600/minecraft+gargamal+010.png');
                background-position: center;
                background-size: 1500px;
                background-repeat: no-repeat;
            }
            button#info {
                position: absolute;
                bottom: 0%;
                left: 46%;
            }
            #infobox {
                background-image: url('https://s-media-cache-ak0.pinimg.com/564x/e9/90/4c/e9904cdb30314092a60f1ec18711bbbf.jpg');
                background-size: 30px;
                border: solid 2px lightgrey;
                box-shadow: 0 2px 9px grey inset;
                position: absolute;
                bottom: 50%;
                left: 0%;
                z-index: 500;
                color: white;
                cursor: default;
            }
            #info-x {
                background-image: url('https://s-media-cache-ak0.pinimg.com/564x/e9/90/4c/e9904cdb30314092a60f1ec18711bbbf.jpg');
                background-size: 20px;
                position: absolute;
                border: solid 2px black;
                font-size: 30px;
                height: 35px;
                width: 35px;
                right: 0%;
                top: 30%;
                box-shadow: -2px 2px 4px 2px rgba(0, 0, 0, 0.4);
                cursor: default;
                z-index: 501;
                color: white;
                font-weight: bold;
        }
            #info-x:hover {
                border-color: white;
                box-shadow: 0 50px 20px rgba(170, 170, 255, 0.6) inset;
            }
            #info-x:focus {
                box-shadow: 0 50px 20px rgba(255, 255, 0, 0.6) inset;
                outline: none;
            }
            #layer {
                background-color: rgba(0, 0, 0, 0.6);
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
            }
            #controls {
                background-image: url('https://s-media-cache-ak0.pinimg.com/564x/e9/90/4c/e9904cdb30314092a60f1ec18711bbbf.jpg');
                background-size: 57px;
                border: solid 2px black;
                color: white;
                position: absolute;
                top: 52%;
                left: 35.5%;
            }
            #cursor {
                position: absolute;
                left: 0px;
                top: 0px;
                display: none;
            }
